<form method="post" action="{{ path('cliente_delete', {'id': cliente.id}) }}" onsubmit="return confirm('Você tem certeza que quer excluir esse cliente?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <button class="btn btn-danger">DELETAR</button>
</form>
