{% extends 'base.html.twig' %}

{% block title %}Editar Cliente{% endblock %}

{% block body %}
    <h1>Editar Cliente</h1>

    <nav>
    {{ include('cliente/_form.html.twig', {'button_label': 'ATUALIZAR'}) }}
    <a href="{{ path('cliente_index') }}" class="btn btn-primary">VOLTAR</a>
    {{ include('cliente/_delete_form.html.twig') }}
    </nav>
{% endblock %}
