{% extends 'base.html.twig' %}

{% block title %}NOVO CLIENTE{% endblock %}

{% block body %}
    <h1>Cadastro de novo Cliente</h1>
    <div class="">
        {{ include('cliente/_form.html.twig') }}
        <a href="{{ path('cliente_index') }}" class="btn btn-secondary my-2">VOLTAR</a>
    </div>
{% endblock %}
