<form method="post" action="{{ path('telefone_delete', {'id': telefone.id}) }}" onsubmit="return confirm('Você tem certeza que quer mudar esse número?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ telefone.id) }}">
    <button class="btn btn-danger">DELETAR</button>
</form>
