{% extends 'base.html.twig' %}

{% block title %}Novo Telefone{% endblock %}

{% block body %}
    <h1>Cadastrando novo Telefone</h1>

    {{ include('telefone/_form.html.twig') }}
    <a href="{{ path('telefone_index') }}" class="btn btn-light my-2">VOLTAR</a>

{% endblock %}
