<form method="post" action="{{ path('operadora_delete', {'id': operadora.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operadora.id) }}">
    <button class="btn">Delete</button>
</form>
