<form method="post" action="{{ path('operadora_delete', {'id': operadora.id}) }}" onsubmit="return confirm('Você tem certeza que quer excluir essa operadora? Todos os telefones linkados a ela serão apagados');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operadora.id) }}">
    <button class="btn btn-outline-danger">DELETAR</button>
</form>
