{% extends 'base.html.twig' %}

{% block title %}Lista de Operadoras{% endblock %}

{% block body %}
    <h1>Lista de Operadoras</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
        {% for operadora in operadoras %}
            <tr>
                <td>{{ operadora.id }}</td>
                <td>{{ operadora.nome }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">SEM RESULTADOS ENCOTRADOS, NENHUMA OPERADORA CADASTRADA</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operadora_new') }}" class="btn btn-light my-2">CADASTRAR OPERADORA</a>
{% endblock %}
