{% extends 'base.html.twig' %}

{% block title %}Operadora index{% endblock %}

{% block body %}
    <h1>Operadora index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
        {% for operadora in operadoras %}
            <tr>
                <td>{{ operadora.id }}</td>
                <td>{{ operadora.nome }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operadora_new') }}">Create new</a>
{% endblock %}
