{% extends 'base.html.twig' %}

{% block title %}New Operadora{% endblock %}

{% block body %}
    <h1>Create new Operadora</h1>

    {{ include('operadora/_form.html.twig') }}

    <a href="{{ path('operadora_index') }}">back to list</a>
{% endblock %}
